:root {
	font-family: 'Crimson Pro', serif;
	color: #14252e;
	background-color: #fbf4e9;
	--color--accent-1: #cba5e9;
	--color--accent-2: #ffed8a;
}

* {
	margin: 0;
}

body {
	max-width: 800px;
	padding: 1rem;
	margin: auto;
	font-size: 1.125rem;
}

@media (max-width: 800px) {
	body {
		font-size: 1rem;
	}
}

article {
	padding: 1rem;
	border: 2px solid red;
}

article > h2 {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
	max-height: 450px;
	display: block;
	margin: 1rem 0;
	object-fit: contain;
}

nav > a {
	font-size: 1.75rem;
}

@media (min-width: 800px) {
	main#chicken-recipe-content {
		border: 2px solid green;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, auto);
	}

	main#chicken-recipe-content img {
		grid-column: 1 / 2;
	}

	main#chicken-recipe-content section.ingredients {
		align-self: center;
		justify-self: center;
	}

	main#chicken-recipe-content h1,
	main#chicken-recipe-content section.steps,
	main#chicken-recipe-content section.comments {
		border: 2px solid red;
		grid-column: span 2;
	}
}
