:root {
	font-family: 'Crimson Pro', serif;
	color: #14252e;
	background-color: #fbf4e9;
	--color--accent-1: #cba5e9;
	--color--accent-2: #ffed8a;
}

* {
	margin: 0;
}

body {
	max-width: 800px;
	padding: 1rem;
	margin: auto;
	font-size: 1.125rem;
}

@media (max-width: 800px) {
	body {
		font-size: 1rem;
	}
}

article {
  padding: 1rem;
	border: 2px solid red;
}

article > h2 {
  text-align: center;
}

img {
	width: 100%;
	height: auto;
	max-height: 450px;
	display: block;
	margin: 1rem 0;
	object-fit: contain;
}

nav > a {
  font-size: 1.75rem;
}